.wrapper {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 30px 40px;
    gap: 58px;
  
    width: 1160px;
    max-width: calc(100% - 40px);
  
    background: #000;
    border-radius: 10px;
  
    z-index: 1000;
  }
  
  .text {
    max-width: 920px;
  
    font-family: 'Inter';
    font-size: 16px;
    line-height: 135%;
    color: #fff;
  }
  
  .button {
    padding: 10px 20px;
  
    background: #fff;
    border-radius: 100px;
    border: none;
  
    font-size: 16px;
    cursor: pointer;
  }